* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "lato", sans-serif;
    min-height: 100vh;
    background-color: #e5e5e5;
  }

  #mobile-menu {
  display: none;
  }

  /* .social-media {
  display: flex;
  justify-content: flex-end;
  margin-right: 150px;
  background-color: ;
  } */

  .social-media, .navbar {
  display: none;
  }

.box {
    background: url("./images/home-page.png") no-repeat;
    background-size: cover;
    margin-bottom: 0;
}

  .hamburger {
    border: none;
    background: transparent;
    position: relative;
    margin-top: 8%;
    padding-left: 5%;
  }

  .hamburger img {
  width: 60%;
  height: 70%;
  margin-bottom: 80%;
 
  }

  .hello {
    position: relative;
    color: #f35826;
    font-size: 200%;
    margin-bottom: 0%;
    padding-left: 5%;
  }
  
  .heading {
    position: relative;
    color: #f35826;
    font-size: 400%;
    margin-top: 0%;
    font-weight: bold;
    padding-left: 5%;
    /* background-blend-mode: multiply; */
  }
  
  /* intro section */
  .intro {
    position: relative;
    /* background-color: #f7f7f7; */
    border: 5px #fff solid;
    margin-left: 5%;
    font-size: 110%;
    margin-right: 15%;
    font-weight: normal;
  }
  
  .due-date {
    position: relative;
    font-weight: bold;
    color: #585858;
    font-size: 200%;
    padding-left: 3%;
    margin-bottom: 1%;
    margin-top: 5%;
  }
  
  .venue {
    position: relative;
    color: #585858;
    padding-left: 3%;
    font-weight: 600;
    margin-bottom: 5%;
  }

  /* Main program section */
  .program {
  background: url("./images/main-program.jpg") no-repeat 0, 0 #0a0a0a;;
  background-size: cover;
  margin-top: 0%;
  
  }

.main-program {
    position: relative;
    color: #fff;
    padding-top: 10%;
    padding-bottom: 2%;
    text-align: center;
}

.main-program::after {
    content: '';
    height: 2px;
    width: 5%;
    background: #f35826;
    position: absolute;
    bottom: 0;
    left: 47%;
  }

  .activities {
    padding-top: 5%;
    list-style-type: none;
    font-size: 90%;
    padding-right: 2%;
    padding-left: 2%;
  }
  
  .activity {
    display: flex;
    color: #fff;
    border: none;
    background-color: #3c3f46;
    gap: 10px;
    margin: 2%;
  }
  
  .activities .activity:hover {
    cursor: pointer;
    position: relative;
    border: #fff 2px solid;
  }
  
  .img-activity {
    position: relative;
    padding: 3%;
    width: 120px;
    height: 120px;
    margin-top: 3%;
    
  }
  
  .description {
    position: relative;
    display: flex;
    align-items: center;
    color: #f35826;
    font-weight: bold;
    padding-right: 5%;
  }
  
  .explanation {
    position: relative;
    padding-top: 3%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .program-btn {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .join {
    padding: 4%;
    background-color: #f35826;
    border: none;
    color: #fff;
    font-size: 140%;
    margin: 5%;
    margin-bottom: 10%;
  }
  
  .join:hover {
    cursor: pointer;
  }
  
  .join:hover:hover {
    background-color: #fff;
    color: #f35826;
  }
  
  .join:hover:active {
    background-color: #2230d2;
    color: #fff;
  }

  /* Featured speakers section */

.speakers-section{
  margin-top: 5%
  
}
.featured-speakers {
    text-align: center;
    position: relative;
    padding-bottom: 2%;
  }
  
  .featured-speakers::after {
    content: '';
    height: 2px;
    width: 10%;
    background: #f35826;
    position: absolute;
    bottom: 0;
    left: 45%;
  }
  
  .speakers {
    list-style-type: none;
    margin-top: 5%;
  }
  
  .speakers li {
    display: flex;
  }
  
  .speaker-img {
    width: 100px;
    height: 100px;
  }
  
  .speaker-details {
    padding-left: 3%;
  }
  
  .name {
    font-weight: bold;
  }
  
  .work {
    color: #f35826;
    font-style: italic;
  }
  
  .work_description {
    font-size: 95%;
  }
  